DATABASE_URL="postgresql://maillab:maillab@localhost:5432/maillab?schema=public"
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
MAIL_DOMAIN="maillab.local"
CLEANUP_SECRET="change-me-to-a-random-32-char-string-for-cleanup"
